/* body{
    background: url(./fondo.png) no-repeat center center fixed;
    background-size: cover;
} */

.tituloSeccion{
    border: 0.3rem solid #E3E3E3;
}

.tituloSeccion:hover{
    border: 0.3rem solid rgb(212, 212, 212);
    background-color: rgb(212, 212, 212);
}

@media (max-width: 992px){
    .tituloSeccion{
        margin-left: 1.5rem;
        margin-top: 3rem;
    }
}

@media (min-width: 992px){
    .tituloSeccion{
        margin-left: 1.5rem;
        margin-top: 3rem;
    }
}